{%load static%}
{%load customtags%}
{%if request.user.is_authenticated and request.user|has_group:"Administrator" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'Base.css' %}">
<style>
h3{
  color: blue;
    width: 50%;
    margin: -50px 180px 30px;
    font-size: 30px;
    float: right;
  }
  img{
      width: 60;
      margin: -60px 30px;
      float: left;
  }
  </style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<div class="name">User: {{user.get_username}} | Date: {% now "jS F Y" %} | {%if user|has_group:"Administrator"%}Adminstration{%elif user|has_group:"Data Entry"%}Data Entry{%endif%}</div>
<div class="home">
<span id="tablee">
  <div class="heading">
    <h3>Deleted Students List</h3>
    <img src="{% static 'PICT-Logo.png' %}">
  </div>
  <div class="tab">
        <table >
            <tr><th>Student name</th><th>Registration Number</th><th>Reason</th></tr>
        {% for student in object_list %}
            <tr>
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td><a href="/basicform/showdelstudents" onclick="location.href=this.href+'/{{student.reg_no}}';return false;">{{student.reg_no}}</a></td>
                <td>{{student.reason}}</td>
            </tr>
        {% endfor %}
    </table>
  </div>
</span>
  <button onclick="demoFromHTML()">Download PDF</button>
  <a href="{%url 'index' %}">Go to Home</a>
</div>

{%else%}
<h2>Administrative permission needed</h2>
<a href="{%url 'login'%}">Login</a>
{%endif%}
<script src="{% static 'Pdfgen.js' %}"></script>