/* Style the form */
#regForm {
  background-color: #FFFDD0;
  margin: 50px auto;
  padding: 20px;
  width: 85%;
  font-family: Raleway;
  min-width: 300px;
  overflow: false;
}
h1{
  color: darkblue;
}
h4{
  color: indigo;
  margin: 8px;
}
hr{
  margin: 1px;
}
/* Style the input fields */
input {
  padding: 10px;
  width: 48%;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  float: left;
}
.choice{
   padding: 10px;
  width: 45.3%;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  float: left;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: rgb(28, 0, 130);
}