{%load static%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<style>
  .home {
  background-color: #FFFDD0;
  margin: 50px auto;
  padding: 0px 0;
  text-align: center;
  width: 100%;
  font-family: 'Arvo', serif;
  align-items: center;
}
h1{
  color: blue;
}
#submit{
  outline: 0;
    background: #7272dc;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}
input{
  outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}
form{
  margin: 0 auto 100px;
  max-width: 40%;
  position: relative;
  display: block;
  padding:30px;
}
img{
  display: block;
    width: 50%;
    /* align-items: center; */
    /* align-content: center; */
    /* align-self: center; */
    height: fit-content;
    margin: auto;
    padding: 10%;
}
.heading{
  display:inline-block;
}

#not-match {
  visibility: hidden;
}
</style>
<div class="home">
{% if messages %}
{%for message in messages%}
{{message}}
{%endfor%}
{% endif %}
<form action="" method="POST" id="myform" onsubmit=" return validate()">
  <h1>Change Password</h1>

    {% csrf_token %}

        <div class="form-group">
          <!-- <label for="username">Username</label> -->
          <input type="password" class="form-control" name="oldpass" placeholder="Old Password" id="oldp">
        </div>
        <div class="form-group">
          <!-- <label for="password">Password</label> -->
          <input type="password" class="form-control" name="newpass" placeholder="New Password" id="changep">
        </div>
        <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <input type="password" class="form-control" name="cnfnewpass" placeholder="Confirm New Password" id="newp">
            <p id="not-match">Passwords do not match.</p>
          </div>
    <input type="submit" value="Submit" id="submit" >
</form>
</div>
<script>
// const newp = document.querySelector('#newp')
// const changep = document.querySelector('#changep')
// const message = document.querySelector('#not-match')

// newp.addEventListener('input', e => {
//   if(e.target.value !== changep.value) message.style.remove('VISI')
// })



function validate(){
  //validation
  // var he=document.getElementById('oldp')
  var fro=document.getElementById('changep')
  var tod=document.getElementById('newp')
  
  if(fro.value!=tod.value){
    alert("Passwords don't match")
    return false;
  }
  if(fro.value.length<=6){
    alert("Password length must be greater than 6 characters");
    return false;
  }
}

</script>