/* Style the form */
#regForm {
  background-color: #FFFDD0;
  margin: 50px auto;
  padding: 20px;
  width: 85%;
  font-family: 'Arvo', serif;
  min-width: 300px;
  overflow: false;
}
.bloock{
  display: inline-block;
}
.heading{
  display:inline-block;
}
h1{
  color: darkblue;
  width: 60%;
  float: right;
  margin: -125px 31px 0px;
}
h4{
  color: indigo;
  margin: 8px;
}
hr{
  margin: 1px;
}
/* Style the input fields */
input {
  padding: 10px;
  width: 48%;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  float: left;
}
textarea{
  padding: 10px;
  width: 48%;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  /* float: left; */
  resize:vertical;
}
.choice{
   padding: 10px;
  width: 45.3%;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  float: left;
}
.choiced{
     padding: 10px;
  width: 95.4%;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  float: left;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
select{
  padding: 10px;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  resize:vertical;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
button{
  background-color: #7272dc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin:1%;
  text-align: center;
}
button#nextBtn{
  float:right;
  margin: 5px 0px 0px;
}
button#prevBtn{
  float:left;
  margin: 5px 10px 0px;
}
/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: rgb(28, 0, 130);
}