<style>
    .home {
    background-color: #FFFDD0;
    margin: 50px auto;
    padding: 110px 0;
    text-align: center;
    width: 90%;
    font-family: Raleway;
    align-items: center;
  }
  h3{
    color: blue;
  }
  #submit {
  background-color: #7272dc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input{
  padding: 15px 32px;
  width: 28%;
  margin: 1%;
  font-size: 16px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
  </style>
<div class="home">
<h3>Admin Form</h3>
<hr>
<form action=""method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" id="submit"></form>
    <a href="{%url 'index' %}">Go to Home</a>
</div>