{%load static%}
{%load customtags%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'Base.css' %}">
<style>
    td{
        text-align: center;
    }
</style>
<div class="name">User: {{user.get_username}} | Date : {% now "jS F Y" %} | {%if user|has_group:"Administrator"%}Adminstration{%elif user|has_group:"Data Entry"%}Data Entry{%endif%}</div>
 
<div class="home">
    <div class="heading">
      <h3>Detailed Attendance Report</h3>
      <img src="{% static 'PICT-Logo.png' %}">
    </div>

<div class="tab">
<table>
    <tr>
        <th>Student Reg No.</th>
        <th>Student Name</th>

    {%for i in dates.keys%}
    <th>{{i}}</th>
{%endfor%}
    </tr>
{%for i in att%}
<tr>
    {%for k in i%}
<td>{{k}}</td>
{%endfor%}
</tr>
{%endfor%}

<tr name="total">
    <th>Total Present</th>
    <th></th>
    {%for i in dates.values%}
    <th style="text-align: center;">{{i}}</th>
    {%endfor%}
</tr>
</table>
</div>

<button type="button" onclick="tableToCSV()">Download CSV</button>

<a href="{%url 'index' %}">Go to Home</a>
</div>


<script>

    
function tableToCSV() {

// Variable to store the final csv data
var csv_data = [];

// Get each row data
var rows = document.getElementsByTagName('tr');

var headcol=rows[0].querySelectorAll('td,th')
  var headrow=[]
  for(var i=0;i<headcol.length;i++){
    headrow.push(headcol[i].innerHTML)
  }
  csv_data.push(headrow.join(","))

for (var i = 1; i < rows.length; i++) {
  // Get each column data
  var cols = rows[i].querySelectorAll('td,th');
  // Stores each csv row data
  var csvrow = [];
  for (var j = 0; j < cols.length; j++) {

    // Get the text data of each cell of
    // a row and push it to csvrow
    csvrow.push(cols[j].innerHTML);
  
  }

  // Combine each column value with comma
  csv_data.push(csvrow.join(","));

}
// combine each row data with new line character
csv_data = csv_data.join('\n');

/* We will use this function later to download
the data in a csv file downloadCSVFile(csv_data);
*/
downloadCSVFile(csv_data)
// }
}
function downloadCSVFile(csv_data) {
// Create CSV file object and feed our
// csv_data into it
CSVFile = new Blob([csv_data], { type: "text/csv" });

// Create to temporary link to initiate
// download process
var temp_link = document.createElement('a');

// Download csv file
temp_link.download = "DetailedAttendanceReport-"+'{{cls}}'+"_"+'{{div}}'+".csv";
var url = window.URL.createObjectURL(CSVFile);
temp_link.href = url;

// This link should not be displayed
temp_link.style.display = "none";
document.body.appendChild(temp_link);

// Automatically click the link to trigger download
temp_link.click();
document.body.removeChild(temp_link);
}

</script>