{%load static%}
{%load customtags%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'Base.css' %}">
<div class="name">User: {{user.get_username}} | Date: {% now "jS F Y" %} | {%if user|has_group:"Administrator"%}Adminstration{%elif user|has_group:"Data Entry"%}Data Entry{%endif%}</div>

<div class="home">
  <div class="heading">
    <h3>Delete Student</h3>
    <img src="{% static 'PICT-Logo.png' %}">
  </div>
<hr>
<div class="tab">
<table>
    <tr><th>Feild</th><th>Value</th></tr>
{%for key,value in dic.items%}<tr><td>{{key}}</td><td>{{value}}</td></tr>{%endfor%}
</table>
</div>
<form action="" method="POST" id="remove_form">
    {% csrf_token %}
    <input hidden name="remove" id="remove">
    <input hidden id="reason" name="reason" type="text">
    <button onclick="event.preventDefault();AlertMessage()">Remove</button>
</form>
<a href="{%url 'index' %}">Go to Home</a>
</div>
<script>
    function AlertMessage(){
        let reason=prompt("Reason for deleting {{name}}")
        if(reason!=null){
            document.getElementById('reason').value=reason
            document.getElementById('remove').value="remove"
            document.getElementById('remove_form').submit()
        }
    }
</script>
