{%load static%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<style>
    .home {
    background-color: #FFFDD0;
    margin: 50px auto;
    padding: 180px 0;
    text-align: center;
    width: 90%;
    font-family: 'Arvo', serif;
    align-items: center;
  }
  #submit {
  background-color: #7272dc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
input{
  padding: 15px 32px;
  width: 28%;
  margin: 1%;
  font-size: 16px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
img{
    /* display: block; */
    width: 60;
    /* height: fit-content; */
    margin: -60px 30px;
    position: absolute;
    /* top: 497px; */
    /* bottom: 0px; */
    float: left;
}
h3{
  color: blue;
    /* margin-left: auto; */
    width: 50%;
    margin: -40px 180px 30px;
    font-size: 30px;
    float: right;
  }
  .heading{
  display:inline-block;
}

  .choice{
   padding: 10px;
  width: 45.3%;
  margin: 1%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  float: left;
}
.line{
  display: flex;
}
  </style>
<div class="home">
  <div class="heading">
    <h3>Choose Filters</h3>
    <img src="{% static 'PICT-Logo.png' %}">
  </div>
<hr>
<form action="" method="POST">
    {% csrf_token %}
    <div class="line">
    <span class="choice">
        <label for="acdyr">Academic Year*</label>
        <select name="academic_year" id="acdyr"  >
          <option value="2021-22">2021-22</option></select>
        </span>
        <span class="choice">
            <label for="brnch">Branch*</label>
            <select name="branch" id="brnch"  >
              <option vlaue="Any">Any</option> 
              <option value="Computer">Computer Science</option>
              <option vlaue="IT">IT</option>
              <option vlaue="ENTC">ENTC</option>
              <option vlaue="Data Science">Data Science</option></select>
            </span>
            <span class="choice">
                <label for="ctgry">Category*</label>
                <select name="category" id="ctgry"  >
                  <option vlaue="Any">Any</option>
                  <option value="general">General</option>
                  <option value="SC">SC</option>
                  <option value="ST">ST</option>
                  <option value="OBC">OBC</option>
                  <option vlaue="VJNT">VJNT</option></select>
                </span> 
              </div> 
    <input type="submit" id="submit">
  </form>
    <a href="{%url 'index' %}">Go to Home</a>
</div>