{%load static%}
{%load customtags%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'Base.css' %}">
<style>
    .home {
    background-color: #FFFDD0;
    margin: 50px auto;
    padding: 180px 0;
    text-align: center;
    width: 90%;
    font-family: 'Arvo', serif;
    align-items: center;
  }
  </style>
<div class="name">User: {{user.get_username}} | Date: {% now "jS F Y " %} | {%if user|has_group:"Administrator"%}Adminstration{%elif user|has_group:"Data Entry"%}Data Entry{%endif%}</div>

<div class="home">
  <div class="heading">
    <h3>Enter Registration Number</h3>
    <img src="{% static 'PICT-Logo.png' %}">
  </div>
<hr>
<form action=""method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Registration Number" name="rollno">
    <input type="submit" id="submit">
  </form>
    <a href="{%url 'index' %}">Go to Home</a>
</div>