<style>
    .home {
    background-color: #FFFDD0;
    margin: 50px auto;
    padding: 110px 0;
    text-align: center;
    width: 90%;
    font-family: Raleway;
    align-items: center;
  }
  h2{
    color: blue;
  }
  td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
table{
  align-items: center;
  transform: translate(60%,0%);
}
 tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7484e2;
  color: white;
}
button {
  background-color: #7272dc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin:1%;
}
#add{
  float:right;
}
#remove{
  transform: translate(0%,-45%);
  float:left;
}
  </style>
  <div class="home">
<h2>Admin Panel</h2>

<table>
  <tr><th>Feild</th><th>Value</th></tr>
 {%for key,value in dic.items%}<tr><td>{{key}}</td><td>{{value}}</td></tr>{%endfor%}
  </table>
<form action=""method="POST">
    {% csrf_token %}
      <button type="submit" name="add" id="add">add</button><br>
      <button type="submit" name="remove" id="remove">remove</button>    
</form>
<a href="{%url 'index' %}">Go to Home</a>
</div>