{%load static%}
{%load customtags%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<link rel='stylesheet' href="{% static 'Base.css' %}">
<div class="name">User: {{user.get_username}} | Date: {% now "jS F Y" %} | {%if user|has_group:"Administrator"%}Adminstration{%elif user|has_group:"Data Entry"%}Data Entry{%endif%}</div>
<style>
.field{
    text-transform:capitalize;
  }
</style> 
<div class="home">
    <div class="heading">
      <h3>Student Information</h3>
      <img src="{% static 'PICT-Logo.png' %}">
    </div>
<div>
<table>
  <tr><th>Feild</th><th>Value</th></tr>
 {%for key,value in dic.items%}<tr><td><div class="field">{{key}}</div></td><td>{{value}}</td></tr>{%endfor%}
  </table>
</div>
<a href="{%url 'index' %}">Go to Home</a>
</div>